import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=League+Spartan:wght@400;500;700&display=swap');

body {
  background-color: #363636;
  border-radius: 18px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1028px;
  min-width: 256px;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

html {
    background-color: #2b2b2b;
    background-size: 8px 8px;
}

p {
color: white;
font-family: 'Courier Prime', monospace;
}

h1 {
  font-family: League Spartan;
  color: white;
  font-weight: 700;
  padding: 25px;
  padding-bottom: 10px;
  font-size: 3em;
}

li {
color: white;
font-family: 'Courier Prime', monospace;
font-size: 15px;
}
