@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;800&display=swap');

body {
  background-color: #363636;
  border-radius: 18px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1028px;
  min-width: 256px;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

html {
  background-color: #2b2b2b;
}

p {
  color: white;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 3em;
}

li {
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 4.7fr;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.star {
  margin-top: 15px;
  border-radius: 50%;
}

.social {
  margin-right: 5px;
}
